Em um concurso público foram contabilizados os números de pessoas inscritas (até a data inicialmente estabelecida para a inscrição) segundo os níveis de escolaridade: fundamental completo, médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.

Nível de escolaridade	Inscritos

Fundamental completo	451

Médio completo	627

Superior completo	292

Pós-graduação completa	95

Com base na tabela acima, crie uma Series com esses valores e calcule:

(a) O número total de inscritos

(b) Número inscritos que possuem, pelo menos, o superior completo.

(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.

(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [2]:
import numpy as np
import pandas as pd

In [3]:
inscritos = pd.Series([451, 627, 292, 95],
                      index='Fundamental-Completo Medio-completo\
                      Superior-Completo Pos-graduacao-completa'.split())

In [6]:
inscritos

Fundamental-Completo      451
Medio-completo            627
Superior-Completo         292
Pos-graduacao-completa     95
dtype: int64

In [5]:
# A
inscritos.sum()

1465

In [5]:
# B
inscritos[2:].sum()

387

In [7]:
# C
novos_inscritos = pd.Series([68, 93, 22, 0], index='Fundamental-Completo Medio-completo\
                      Superior-Completo Pos-graduacao-completa'.split())
novos_inscritos

Fundamental-Completo      68
Medio-completo            93
Superior-Completo         22
Pos-graduacao-completa     0
dtype: int64

In [8]:
# D
todos_inscritos = inscritos + novos_inscritos
total = todos_inscritos.sum()

total

1648

Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:

Nome do Aluno	Nota

Wilfred	2

Abbie	7

Harry	5.5

Julia	10

Carrie	6.2

(a) Crie uma Series com os valores da tabela acima.

(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).

(c) Qual foi a nota média da turma.

(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.

In [23]:
# A
notas = pd.Series([2, 7, 5.5, 10, 6.2], index='Wilfred Abbie Harry Julia Carrie'.split())
notas

Wilfred     2.0
Abbie       7.0
Harry       5.5
Julia      10.0
Carrie      6.2
dtype: float64

In [24]:
# B
notas[notas >= 7]

Abbie     7.0
Julia    10.0
dtype: float64

In [25]:
# C
notas.mean()

6.14

In [27]:
# D
notas[notas > notas.mean()]

Abbie      7.0
Julia     10.0
Carrie     6.2
dtype: float64

Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

Peso (kg)	Altura (cm)	Idade

72	180	31

80	170	21

60	175	16

90	174	28

100	185	23

Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.

(b) Obtenha a idade média das pessoas.

(c) Obtenha os dados das pessoas que estão abaixo da altura média.

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

(e) Remova a coluna que contém a idade das pessoas.

(f) Salve esses dados do DataFrame em um arquivo csv.

In [10]:
dados = {
    'Peso':[72, 80, 60, 90, 100],
    'Altura':[180, 170, 175, 174, 185],
    'Idade':[31, 21, 16, 28, 23]
}

In [11]:
df = pd.DataFrame(dados)
df

   Peso  Altura  Idade
0    72     180     31
1    80     170     21
2    60     175     16
3    90     174     28
4   100     185     23

In [12]:
# A
df['Altura']

0    180
1    170
2    175
3    174
4    185
Name: Altura, dtype: int64

In [13]:
# B
df['Idade'].mean()

23.8

In [14]:
# C
df['Altura'].mean()

176.8

In [15]:
df[df['Altura'] < df['Altura'].mean()]['Altura']

1    170
2    175
3    174
Name: Altura, dtype: int64

In [41]:
# D
df['IMC'] = df['Peso'] / ((df['Altura'] / 100) ** 2)

In [43]:
df

   Peso  Altura  Idade        IMC
0    72     180     31  22.222222
1    80     170     21  27.681661
2    60     175     16  19.591837
3    90     174     28  29.726516
4   100     185     23  29.218408

In [47]:
# E
df.drop('Idade', axis=1)

   Peso  Altura        IMC
0    72     180  22.222222
1    80     170  27.681661
2    60     175  19.591837
3    90     174  29.726516
4   100     185  29.218408

In [54]:
# F
df.to_csv('../../data_sets/exercicios.csv', index=False)

Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que 
preferir).

(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [39]:
df1 = pd.read_csv('../../data_sets/exercicios.csv')

In [40]:
# A
df1['Nome'] = 'Vinicius Washington Monica Gabriel Bruno'.split()

In [41]:
#df1.rename_axis('Nome')

In [42]:
df1 = df1.set_index('Nome')
df1

            Peso  Altura  Idade        IMC
Nome
Vinicius      72     180     31  22.222222
Washington    80     170     21  27.681661
Monica        60     175     16  19.591837
Gabriel       90     174     28  29.726516
Bruno        100     185     23  29.218408

In [43]:
# C
df1[(df1['IMC'] > 25) & (df1['IMC'] < 29.9)].index

Index(['Washington', 'Gabriel', 'Bruno'], dtype='object', name='Nome')

Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

IMC	Classificação	Obesidade (grau)
Menor que 18,5	Magreza	0
Entre 18,5 e 24,9	Normal	0
Entre 25,0 e 29,9	Sobrepeso	I
Entre 30,0 e 39,9	Obesidade	II
Maior que 40,0	Obesidade Grave	III
(b) Salve em DataFrame no formato xlsx.

In [345]:
# A
df1['Classificação'] = np.arange(len(df1))

In [44]:
## Forma 'correta'
def classificacao(imc):
    if imc < 18.5:
        return 'Magreza'
    elif imc > 18.5 and imc < 24.9:
        return 'Normal'
    elif imc > 25 and imc <29.9:
        return 'Sobrepeso'
    elif imc > 30 and imc < 39.9:
        return 'Obesidade'
    else:
        return 'Obesidade Grave'

In [ ]:
df1['Classificação'] = df1['IMC'].apply(classificacao)

## Ou

In [47]:
def classificacao(linha):
    imc = linha['IMC']
    
    if imc < 18.5:
        return 'Magreza'
    elif imc > 18.5 and imc < 24.9:
        return 'Normal'
    elif imc > 25 and imc <29.9:
        return 'Sobrepeso'
    elif imc > 30 and imc < 39.9:
        return 'Obesidade'
    else:
        return 'Obesidade Grave'

In [50]:
df1['Classificação'] = df1.apply(classificacao, axis=1)

In [51]:
df1

            Peso  Altura  Idade        IMC Classificação
Nome
Vinicius      72     180     31  22.222222        Normal
Washington    80     170     21  27.681661     Sobrepeso
Monica        60     175     16  19.591837        Normal
Gabriel       90     174     28  29.726516     Sobrepeso
Bruno        100     185     23  29.218408     Sobrepeso

In [360]:
# B
df1.to_excel('../../data_sets/IMC.xlsx', index=False)